:root {
  --bg-color: #FCF2EE;
  --txt-color: #0F3857;
  --blue-accent: #91C4F2;
  --org-accent: #dbc9c1;
  --grn-accent: #04A777;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--bg-color);
  color: var(--txt-color);
  padding-left: 5%;
  padding-right: 5%;
}

.card {
  color: var(--txt-color);
  background-color: var(--org-accent);
}

.footer {
  position: fixed;
  bottom: 0;
  font-family: 'Brush Script MT', cursive;
  font-size: 18px;
  align-content: right;
  width: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


